
.tartalom{
  flex-direction: row-reverse;
}
.card{
    width: 45%;
}
.ruha{
  background-color: white;
}
.keresl{
    list-style-type: none;
    padding-left: 70px;
}
  .kereso {
    border: 1px solid #ccc;  
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width: 95%;
    margin-bottom: 20px;
    
  }
  
  .Szovegkepen{
    
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    z-index: 1;
    position: relative;
    top: 50%;
   
    
   
   
    
  }
  a{
    text-decoration: none;
  }
  .gomb{
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

  .gomb:hover{
    background: #ccc;
  }

  #scontainer{
    position: sticky;
    margin-top: 20px;
    padding-bottom: 30px;
    top: 80px;
    
    
    
  }
  .scrollA {
    width: 350px;
    height: 450px;
    
    direction:rtl;
    overflow: auto;
  }
  
  .scrollI {
    padding: 0;
  }
  
  .scrollI li {
    
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    list-style-type: none;
  }
  
  .jobboldal {
    flex: 1;
    width: 375px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 20px;
    max-width: none;
  }

  .balfent {
    position: absolute;
    top: 8px;
    left: 16px;
    
  }
  .bal {
    width: 100%;
    margin-right: 2%;
    
  }
  
  .vonal{
    color: black;
    height: 1px;
    width: 250px;
    background-color: rgb(255, 255, 255);
  }
  .fszov{
    color: white;
  }
.hatcim{
  text-align: left;
}
.elcim{
  text-align: left;

}

.like {
  width: 50px;
  height: 50px;
  
  position: fixed;
  transition: ease-in-out, 0.5s;
  background-image: url(./kepek/Nolike.png);
  background-size: cover;
  z-index: 0;
  cursor: pointer;
  
  
}
.scrollA::-webkit-scrollbar {
  height: 3px; /* vízszintes scrollbar */
  width: 10px;
  
}

.scrollA::-webkit-scrollbar-track {
  background: #eb5e5f;
  border-radius: 10px;

}

.scrollA::-webkit-scrollbar-thumb {
  background: #f51d1d;
  border-radius: 10px;
  border: 2px solid white;
}

.scrollA::-webkit-scrollbar-thumb:hover {
  background: #000;
}
.Kartyakereses{
  height: 150px;
  padding-bottom: 35px;
  width: 300px; 
  float: right;
  z-index: 0;
  
 
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
}
.likelement{
  
  position: relative;
  align-self: end;
  justify-self: right;
  right: 50px;
  bottom: 50px;
  margin: 5px;
}

.kartyacim{
  margin: 6px;
  
  width: 1px;
}
.cimalahuzas{
  margin: 0px;
  height: 4px;
  background-color: white;
  border: none;
  
}
.rejtettszoveg {
  display: none;
}
.toggleButton{
  cursor: pointer;    
  position: relative;
  align-self: flex-start;
  justify-self: left;
  

}
.h1{
  font-size: 30px;
}
.kartyaszoveg{
  position: relative;
  height: 100%;
  width: 95%;
  text-align: left;
  margin: 10px;
  
}
.container {
  display: flex;
  margin-left: 10%;
  margin-top: 17px;
  margin-bottom: 20px;
  width: 100%;
}

.card {
  width: 500px;
  height: 300px;
  perspective: 1000px;
  transition: ease-in-out, 0.5s;
}
.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  
  transition: ease-in-out, 0.5s;
  transform-style: preserve-3d;
}
.card:hover .card-inner {
  transform: rotateY(180deg);
  transition: ease-in-out, 0.5s;
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;           
  border-radius: 10px;
 
  font-weight: bold;
  color: white;
}
.card-front {
  
  background-color: #6b6b6b;
  background-size:cover;
  transition: ease-in-out, 0.5s;
}
.card-back {
  
  display: flex;
  flex-direction: column;
  background: rgb(49,186,187);
  background: linear-gradient(0deg, rgb(49, 120, 187) 0%, rgb(79, 115, 145) 15%, rgba(107,107,107,1) 100%);
  border: solid 5px black;
  transform: rotateY(180deg);
 
}
@media only screen and (max-width: 1440px) {
  .card{
    width: 355px;
  }
  
  
}
@media only screen and (max-width: 1280px) {
  .card{
    width: 325px;
  }
  
  
}
@media only screen and (max-width: 1100px) {
  .card{
    width: 310px;
  }
  
  
}
@media only screen and (max-width: 893px) {
  .tartalom {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    width: 100%;
    }
  .jobboldal {
    
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    }

  .keresl {
    list-style-type: none;
    padding-left: 0px;
      
  }
  .kereso{
  width: 70%;

  }
   
  .container {
    display: block;
    width: 90%;
    margin: 0 auto;
  }

  .card{
    width: 400px;
  }
}
  
 

  

  @media only screen and (max-width: 500px) {
  .kep1{
    height: 210px;
  }
  .card {
    width: 350px;
  }
  }
  
  @media only screen and (max-width: 360px) {
    .kereso{
      width: 60%;
    }
    .kereskep{
      width: 250px;
      
    }
    
  }
  
  .flip-card {
    background-color: transparent;
    width: 325px;
    height: 325px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
   
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #6b6b6b;
    color: white;
    transform: rotateY(180deg);
  }
