a{
    text-decoration: none;
    color: #525252;
}

a:visited{
    text-decoration: none;
    color: #525252;
}

.kereskep{
    padding-bottom: 35px;
}

.card{
    width: 45%;
}
.ruha{
  background-color: white;
}
.keresl{
    list-style-type: none;
    padding-left: 70px;
}

  .kereso {
    border: 1px solid #ccc;  
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    
    
  }
  .gomb{
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

  .gomb:hover{
    background: #ccc;
  }

  .scontainer{
    float: right;
    padding-bottom: 30px;
  }
 
  .jobboldal {
    float: right;
    width: 375px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 20px;
  }

  .balfent {
    position: absolute;
    top: 8px;
    left: 16px;
    
  }
  .vonal{
    color: black;
    height: 3px;
    background-color: black;
  }
  .fszov{
    color: white;
  }

  @media only screen and (max-width: 750px) {
    .card{
      width: 180px;
    }
    .flip-card {
      background-color: transparent;
      width: 425px;
      height: 325px;
      perspective: 1000px;
    }
    
  }
  
  @media only screen and (max-width: 1200px) {
    .card{
      width: 300px;
    }
    
    .flip-card {
      background-color: transparent;
      width:425px;
      height: 325px;
      perspective: 1000px;
    }
  }

  

  @media only screen and (max-width: 500px) {
    .kep1{
      height: 210px;
    }
    .card {
      width: 350px;
    }
    
    }
  
  
  .flip-card {
    background-color: transparent;
    width: 325px;
    height: 325px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #6b6b6b;
    color: white;
    transform: rotateY(180deg);
  }