.balra{
    display: block;
    width: 90%;
    margin: 0 auto;
    width: 50%;
    margin-top: 3%;

}
.jobbra{
    
    margin: 0 auto;
    margin-top: 8%;
 
    
}
.flex-containercar{
    justify-content: center;
}

.term1{
    padding-bottom: 30px;
    padding: 10px;
    display: flex;
    background-color: rgb(247, 244, 244);
    border-radius: 10px;
    margin: 5px;
    width: 80%;
    transition: 300ms;
    
}
.term1:hover{
    padding: 15px;
    background-color: rgba(255, 72, 82, 0.6);
    color: white;
    font-weight: bolder;
}

.szov1{ 
    padding-left: 10px;
    width: 400px;
    padding-right: 0;
}

.kartygomb{
    padding-top: 100px;
    padding-right: 100px;
}

.contgomb{
    
    margin-top: 5%;
    margin-left: 30%;
}

.checkB{
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 50px;
    cursor: pointer;
    border: none;
    background-color: #eb5e5f;
    color: white;
    margin-top: 30px;
}

.gombcont{
    margin-bottom: 10px;
    padding: 10px;
    transition: 300ms;
    border: none;
    cursor: pointer;
}
.gombcont:hover{
    background-color: #eb5e5f;
    color: white;
    font-weight: bolder;
    border-radius: 20px;
}
.tkep1{
    width: 150px; height: 150px;
}
.tkep2{
    width: 150px; height: 150px;
}

.alsosor{
    padding-top: 20%; padding-left: 60%;
    
    text-align: right;
}
.kepp1{
    width: 150px;
    height: 150px;
}
.kep3{
    width: 170px;
    height: 200px;
}
.total{
    padding-bottom: 10px;
}
.checkingout{
    padding-bottom: 50px;
}
#XButton{
    float: right;
    background-color: #eb5e5f;
    color: white;
    font-weight: bold;
    border: white 2px solid;
    padding: 5px;
    cursor: pointer;
}

@media only screen and (max-width: 950px) {
    .jobbra{
        display: block;
        width: 90%;
        margin: 0 auto;
        max-width: none;
        float: none;
    }
    .balra{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    .flex-containercar{
        flex-direction: column;
    }
    
    hr{
        margin-right: 300px;
        width: 520px;
    }

    .checkB{
        width: 520px;
    }
  }

  @media only screen and (max-width: 580px) {
    .jobbra{
        display: block;
        width: 90%;
        margin: 0 auto;
        max-width: none;
        float: none;
    }
    .balra{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    .flex-containercar{
        flex-direction: column;
    }
    
    hr{
        margin-right: 300px;
        width: 100%;
    }

    .checkB{
        width: 100%;
    }
  }

  @media only screen and (max-width: 530px) {
    .term1{
        flex-direction: column;
    }
    .term2{
        flex-direction: column;
    }
    .tkep1{
        display: block;
        margin: auto;
        padding-bottom: 10px;
    }
    .tkep2{
        display: block;
        margin: auto;
        padding-bottom: 10px;
    }
  }
  