.balra{
    display: block;
    width: 90%;
    margin: 0 auto;
    width: 50%;
    margin-top: 3%;

}
.jobbra{
    
    margin: 0 auto;
    margin-top: 8%;
 
    
}
.flex-containercar{
    justify-content: center;
}

.term1{
    padding-bottom: 30px;
    display: flex;

}


.szov1{ 
    padding-left: 10px;
    width: 400px;
}

.kartygomb{
    padding-top: 100px;
    padding-right: 100px;
}

.contgomb{
    
    margin-top: 5%;
    margin-left: 30%;
}

.checkB{
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 50px;
    
    border: none;
    background-color:black;
    color: white;
    margin-top: 30px;
}

.gombcont{
    margin-bottom: 10px;
    padding: 10px;
    border: none;
}
.tkep1{
    width: 150px; height: 150px;
}
.tkep2{
    width: 150px; height: 150px;
}

.alsosor{
    padding-top: 20%; padding-left: 60%;
}
.kepp1{
    width: 150px; height: 150px;
}

@media only screen and (max-width: 950px) {
    .jobbra{
        display: block;
        width: 90%;
        margin: 0 auto;
        max-width: none;
        float: none;
    }
    .balra{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    .flex-containercar{
        flex-direction: column;
    }
    
    hr{
        margin-right: 300px;
        width: 520px;
    }

    .checkB{
        width: 520px;
    }
  }

  @media only screen and (max-width: 580px) {
    .jobbra{
        display: block;
        width: 90%;
        margin: 0 auto;
        max-width: none;
        float: none;
    }
    .balra{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    .flex-containercar{
        flex-direction: column;
    }
    
    hr{
        margin-right: 300px;
        width: 100%;
    }

    .checkB{
        width: 100%;
    }
  }

  @media only screen and (max-width: 530px) {
    .term1{
        flex-direction: column;
    }
    .term2{
        flex-direction: column;
    }
    .tkep1{
        display: block;
        margin: auto;
        padding-bottom: 10px;
    }
    .tkep2{
        display: block;
        margin: auto;
        padding-bottom: 10px;
    }
  }