.kozepsoresz{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px;
}
.bal_oldal{
    flex: 1;
    
}
#kuponok{
    border: solid 2px rgb(129, 129, 129);
    width: 375px;
    
}
.Funkciok_Also{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 121px;
}
.kepp1{
    height: 375px;
    width: 300px;
    border-radius:20px ;
    margin-bottom: 20px
    
}
.term1{
    display: flex;
    flex-wrap: wrap;
    margin-right: 5px;
    margin-left: 5px;
    flex-direction: column;
    border: #eb5e5f solid;
    width: 300px;
    border-radius:20px;
    padding: 5px;
    margin-bottom: 20px;
}
#XButton{
    border-radius: 20px;
    height: 40px;
    width: 80px;
}

.jobb_oldal{
    flex: 0;
    
}
.Vasarolt_targyak{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 360px;
}
#Vasarlas_gomb{
    background-color:#FF4852;
    border: none;
    border-radius: 10px;
    width: 350px;
    height: 80px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
#Vasarlas_gomb:hover{
    cursor: pointer;
    background-color:rgb(241, 47, 112);
    scale: 105%;
    transition: ease-in-out, 0.2s;  
}
#Kuponbutton{
    border: none;
    height: 54px;
    width: 50px;
    cursor: pointer;
    background-color: white;
    transition: ease-in-out, 0.2s;  
    border-radius: 20px;
}
#Kuponbutton:hover{
    background-color: #ffdfe3;
}
#pluszpenz{
    color: rgb(136, 136, 136);
}
#Kupontext{
    width: 270px;
    height: 50px;
   
    border: none;
}
#pasteButton{
    cursor: pointer;
    border: none;
    background-color: white;
    margin: 0px;
}
#XButton{
    float: right;
    background-color: #eb5e5f;
    color: white;
    font-weight: bold;
    border: white 2px solid;
    padding: 5px;
    cursor: pointer;
    margin-top: 5px;
}
#Bankkartyaicon{
    cursor: pointer;
    font-size: 50px;
    color: #ff1c27;
    padding: 0px;
    margin: 0px;
    text-align: center;
}
i:hover{
    scale: 110%;
}
@media only screen and (max-width: 783px) {
    .Funkciok_Also{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 121px;
    justify-content: center;
    align-items: center;
    text-align: center;

    }
    .bal_oldal{
        flex: 0;
        text-align: left;
        margin: 0;
    }
    .Vasarolt_targyak {
        display: flex ;
        flex-direction: column;
        flex-wrap: wrap;
        min-height: 360px;
        justify-content: center;
        align-items: center;
    }
    
}
@media only screen and (max-width: 420px) {

    .Funkciok_Also{
        width: 100%;
    }
    #kuponok{
        width: 100%;
    }
    #Kupontext{
       width: 200px;
    }
    #Vasarlas_gomb{
        width: 200px;
    }
    

}
@media only screen and (max-width: 375px) {
    #Kupontext{
       width: 150px;

    }
    .kepp1{
        height: 325px;
        width: 250px;
        
    
    }
    .term1{
        
        width: 250px;
        
        padding: 5px;
        margin-bottom: 20px;
        margin-left: 0px;
         justify-content: center;
        align-items: center;
    }
}