.form{
    font-size: larger;
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
   
}
textarea{
    height: 150px;
    resize: none;
}
.formcontainer{
    background-image: url(kepek/Ruhacontactus.png);
    background-size: 500px;
    background-repeat: no-repeat;
    width: 60%;
    min-height: 500px;
    background-position-x: center;
    margin: auto;
}
.elerhetoseg{
    width: 27%;
    margin: auto;
    margin-top: 0px;
    margin-right: 6%;
}
#kapcs{
    margin-left:0px ;
    font-size: 2.8vw;
    text-align: center;
    border-bottom: 2px solid black;
}
.sorok{
    margin-top: 20%;
    font-size: 1.7vw;
    text-indent: 15%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    background-color: #EEEEEE;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2)
}
.mezo{
    width: 50%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 8px;
    border: none;
    background-color: rgba(238, 238, 238, 1);
}
.kuldesgomb{
    border: none;
    padding: 4px;
    font-size: 1.1vw;
    padding-bottom: 13px;
    padding-top: 13px;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    margin: auto;
    margin-top: 5%;
}
.kuldesgomb:hover{
    color: black;
}
.tartalom{
    display: flex;
    flex-direction: row;
    margin-top: 51px;
    margin-bottom: 33px;
    min-height: 500px;
}
.sor{
    margin-top: 30px;
    margin-bottom: 30px;
}
.ikon{
    font-size: 2.7vw;
}
@media only screen and (max-width: 1200px) {
.kuldesgomb{
    margin-top: 7%;
    font-size: larger;
}
.mezo{
    width: 60%;
}
}
@media only screen and (max-width: 1000px) {
    .kuldesgomb{
        font-size: 1.7vw;
        margin-top: 8%;
    }
    .form{
        width: 60%;
    }
    .sorok{
        font-size: 2.3vw;
    }
}
@media only screen and (max-width: 880px) {
.kuldesgomb{
    margin-top: 9%;
    font-size: larger;
}
}
@media only screen and (max-width: 650px){
    .tartalom{
        flex-direction:  column;
    }
    .kuldesgomb{
        font-size: larger;
    }
    .ikon{
        font-size: 8vw;
    }
    .elerhetoseg{
        margin: auto;
        width: 65%;
    }
    #kapcs{
        font-size: 5vw;
    }
    .sorok{
        
        font-size: 5vw;
    }
    .formcontainer{
        width: 100%;
    }
    .form{
        width: 90%;
    }
    .mezo{
        width: 40%;
    }
}
@media only screen and (max-width: 500px) {
.formcontainer{
    min-height: 300px;
    background-size: 400px;}

    textarea{
        height: 80px;
    
    }
    .kuldesgomb{
        margin-top: 7%;
    }
}

@media only screen and (max-width: 400px) {
    .mezo{
        padding: 3px;
    }
    .kuldesgomb{
        font-size: medium   ;
        margin-top: 4%;
    }
    .formcontainer{
        background-size: 320px;
    }
}

    
