.form{
    font-size: larger;
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    border: 8px solid black;
    margin-top: 5px;
}
.formcontainer{

    width: 67%;
    margin-bottom: 40px;
}
.elerhetoseg{
    font-size: 1.7vw;
    width: 27%;
    margin: auto;
    text-indent: 15%;
    margin-right: 6%;
    display: flex;
    flex-direction: column;
    background-color: #EEEEEE;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2)
}
.mezo{
    margin: 5px;
    padding: 8px;
    border: none;
    background-color: lightgray;
}
.kuldesgomb{
    border: none;
    padding: 4px;
    font-size: 1.1vw;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    background-color: gray;
    display: flex;
    margin: auto;
}
.tartalom{
    display: flex;
    flex-direction: row;
    margin-top: 51px;
    margin-bottom: 33px;
}
.sor{
    margin-top: 30px;
    margin-bottom: 30px;
}
.ikon{
    font-size: 2.7vw;
}
@media only screen and (max-width: 1000px) {
    .kuldesgomb{
        font-size: 1.7vw;
    }
    .form{
        width: 60%;
    }
    .elerhetoseg{
        font-size: 2.4vw;
    }
}

@media only screen and (max-width: 650px){
    .tartalom{
        flex-direction:  column;
    }
    .kuldesgomb{
        font-size: larger;
    }
    .ikon{
        font-size: 8vw;
    }
    .elerhetoseg{
        width: 60%;
        margin: auto;
        font-size: 5vw;
    }
    .formcontainer{
        width: 100%;
    }
    .form{
        width: 90%;
    }

}

    
