#boritokep{
    display: block;
    width: 90%;
    height: 529px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.kepflex{
    display: flex;
    margin-left: 5%;
    width: 60%;
}
.alsoresz{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    height: 400px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
}

.szovegflex{
    width: 35%;
}


#flexkep{
    width: 328px;
    height: 492px;
    margin: 10px;
    
}
#h1{
    margin: 0;
}


#kepszoveg{

    position: absolute;
    top: 450px;
    left: 8%;
    color: aliceblue;
   
}
#ruhaszoveg{
    -webkit-text-stroke: 1px black;
}

#vasarlasgomb{
    width: 300px;
    height: 106px;
    border-radius: 12px;
    border: 6px solid rgb(0, 0, 0);
    background-color: #000000;
    color: aliceblue;
    font-size: 32px;
    font-weight: bold;
    
}
#kepgomb{
    position: absolute;
    top: 230px;
    right: 7%;
}
.gombok{
    height: 150px;
    width:  150px;
    background-color: #fff;
}
#gomb1{
    background-color: #D8ABAB;
}




#boritokep{
    background-image: url(./kepek/jordanbarrett.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 30px;
    margin-bottom: 30px;
}

#kozepsokepszoveg{
    display: flex;
}

@media only screen and (max-width: 1280px) {
  
    .szovegflex{
        margin: 0 auto;
        text-align: center;
        width: 625px;
    }
   
    .kepflex{
        display: flex;
        margin-left: 5%;
        width: 90%;
        
    }
    #kepszoveg{

        position: absolute;
        top: 430px;
        left: 8%;
        color: aliceblue;
    }
    #flexkep{
        width: 328px;
        height: 492px;
        margin: 10px;
        
    }
    #kepgomb{
        position: absolute;
        top: 23%;
        right: 7%;
    }
    
    .alsoresz{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 90%;
        height: 100%;
        
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 10%;
    }
  
  }