#boritokep{
    display: block;
    width: 90%;
    height: 529px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.kepflex{
    display: flex;
    margin-left: 5%;
    width: 60%;
}
.alsoresz{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    height: 400px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
}

.szovegflex{
    width: 35%;
}

#flexkep{
    width: 90%;
    height: 400px;
    margin: 10px;
}
#h1{
    margin: 0;
}
