body {
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  font-family: 'Barlow', sans-serif;
}

.topnav {
  display: none;
}

header {
  top: 0;
  width: 100%;
}

menu {
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: row;
  flex-wrap: wrap;
  background: white;
  height: 7.82vh;
  margin-bottom: 0px;
  padding-left: 0;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.45);
  z-index: 1;
}

.menuitem {
  margin-left: 1vw;
  margin-right: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1.2vw;
  color: black;
  text-decoration: none;
}

.elso {
  margin-left: auto;
}

.flex-containeri {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

h1 {
  margin-left: 10%;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1.5vw;
}

.utso {
  margin-right: 10%;
}

.melyikoldal {
  margin-top: 0px;
  background-color: #FF4852;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 7.82vh;
  width: 100%;
}

#hol {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10%;
  font-size: 1.2vw;
  padding: 8px;
}

.card {
  transition: 0.3s;
  width: 30%;
  background-color: rgb(247, 244, 244);
  margin-top: 30px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  }
  .ruha {
  
  background-color: rgb(247, 244, 244);
  padding-bottom: 15%;
}

.kep1 {
  height: 200px;
  width: 30%;
}

.ar {
  margin-top: -10%;
  color: #FF4852;
  padding-right: 45px;
}

.ar2 {

  color: #FF4852;

}

s {

  color: gray;

}

h4 {
  margin-bottom: 2px;
}


.alcim {
  border-bottom: 1px solid gray;
  font-size: 20px;
  color: #515151;
}

.alcim::after {
  content: '';
  border-bottom: 2px solid #FF4852;
  display: block;
  margin-bottom: -1px;
  max-width: 40px;
  padding-top: 0.5%;
}

.bal {
  width: 100%;
  margin-right: 2%;
}

.container {
  display: flex;
  margin-left: 10%;
  margin-top: 17px;
  margin-bottom: 20px;
}

.jobboldal {
  float: right;
  width: 325px;
  margin-right: 12%;
  margin-left: 0px;
  margin-top: 20px;
}

.arak {
  margin-top: 0px;
  color: #515151;
}

.pontok {
  border-top: 1px dashed #e2e2e2;
  color: white;

}

.filterezes {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  padding-bottom: 30px;
}

.filterarak {
  margin-top: 3%;
  width: 100%;
  text-align: right;
  color: #8d8d8d;
}

.topratedflex {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.topkep {

  width: 40%;

}

.toparak {
  width: 60%;
  color: #303030;
}

.res {
  color: #8d8d8d;
}

#sort {
  float: right;
  width: 25%;
  height: 30px;
  color: #8d8d8d;
}

ul {
  padding: 15px;

}

.kissz {
  font-size: small;
  font-weight: normal;
  color: gray;
}

.button {
  height: 30px;
  width: 80px;
  font-size: 18px;
  border: none;
  border-radius: 6%;
  color: #464646;

}

.filterszov {
  font-size: medium;
}

.slider-container {
  position: relative;
  width: 100%;
  height: 10px;
}

.range {
  -webkit-appearance: none;
  position: absolute;
  width: 100%;
  height: 10px;
  pointer-events: none;
  background: transparent;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #FF4852;
  pointer-events: all;
  cursor: pointer;
  position: relative;

}

.range::-webkit-slider-runnable-track {
  background: transparent;
}

.slider-track {
  position: absolute;
  height: 5px;
  background: #FF4852;
  z-index: -2;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px;

}

.track {
  width: 100%;
  height: 4px;
  background: #200f1b;
  position: absolute;
  border-radius: 20%;
  z-index: -3;
  top: 2.8px;


}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #FF4852;
  pointer-events: all;
  cursor: pointer;
  position: relative;
  border: none;
}

.tartalom {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}






footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background-color: #100e1c;
  color: #d3d3d3;
  margin: auto;
  margin-bottom: -8px;
  width: 100%;
}

.az2 {
  width: 100%;
}

.footer-section {
  width: 30%;
  margin: auto;
  margin-top: 0.2vw;
}

.footer-section h3 {
  color: white;
  margin-bottom: 0px;
}

.footer-section h2 {
  color: white;
}

.footer-section p,
.footer-section small {
  margin: 5px 0;
}

.footer-section p i {
  margin-right: 8px;
  font-size: 1vw;
}

.footerelso {
  margin-left: 9%;
  margin-right: auto;
}

.shipszoveg {
  text-indent: 4%;
}

.felnyil {
  color: #d3d3d3;
  float: right;
  margin-right: 8%;
  padding: 4px;
  font-size: 2vw;
  border: #d3d3d3 2px solid;
}

.kep1:hover {
  opacity: 0.3;
}

.category:visited {
  text-decoration: none;
  color: #525252;
}

.category {
  text-decoration: none;
  color: #525252;
}

.menugomb {
  border: none;
  background-color: white;
}

.menugomb:hover {
  background-color: #d3d3d3;
}

.menuitem:hover {
  color: #FF4852;
}

.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropgomb1:hover .dropdown-content1 {
  display: block;
}

.dropgomb2:hover .dropdown-content2 {
  display: block;
}

@media only screen and (max-width: 900px) {
  #price {
    font-size: large;
    right: 60%;
  }

  footer {
    font-size: 1.5vw;
  }

}

@media only screen and (max-width: 850px) {
  .card {
    width: 45%;
  }

  .menuitem {
    font-size: 1.6vw;
  }

  menu h1 {
    font-size: 2vw;
  }

  #hol {
    font-size: 2vw;
  }

  #minar {
    margin-left: 40%;

  }
}

@media only screen and (max-width: 800px) {
  #minar {
    margin-left: 34%;

  }
}

@media only screen and (max-width: 780px) {
  #minar {
    margin-left: 30%;

  }
}


@media only screen and (max-width: 750px) {
  #price {
    font-size: large;
    right: 60%;
  }

  #minar {
    margin-left: 30%;

  }

}

@media only screen and (max-width: 730px) {
  #price {
    font-size: large;
    right: 60%;
  }

  #minar {
    margin-left: 23%;
    font-size: large;
  }
}

@media only screen and (max-width: 700px) {
  #minar {
    margin-left: 20%;
    font-size: large;
  }
}

@media only screen and (max-width: 650px) {
  .card {
    width: 40%;
  }

  .footer-section {
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
  }

  footer {
    font-size: 3vw;
    margin: auto;
  }

  .felnyil {
    font-size: 5vw;
  }

  #hol {
    font-size: 2.2vw;
  }

  .tartalom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .jobboldal {
    display: block;
    width: 90%;
    margin: 0 auto;
  }

  .container {
    display: block;
    width: 90%;
    margin: 0 auto;

  }

  .filterarak {
    font-size: large;
    margin-top: 1%;

  }

  .melyikoldal {
    display: none;
  }

  #minar {
    margin-left: 0%;
  }

  menu {
    display: none;
  }

  .topnav h1 {
    font-size: 3.5vw;

  }

  .topnav {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    min-height: 4.1vh;
  }

  .topnav #myLinks {
    display: none;
    float: left;
    background-color: #FF4852;
    width: 100%;
  }

  .topnav a {
    padding-left: 5px;
    border: none;
    border-radius: 0px;
    text-decoration: none;
    font-size: 2.5vw;
    display: block;
    font-weight: bolder;
    color: white;
    padding-top: 20px;
    margin-left: 5%;
  }

  .topnav a:first-child {
    padding-top: 5px;
  }

  .topnav a:last-child {
    padding-bottom: 5px;
  }

  .topnav a.icon {
    top: 0;
    right: 0;
    font-size: 2vh;
    height: 100%;
    color: white;
    border: none;
    border-radius: 0px;
    margin: 0px;
    padding-top: 1vh;
    padding-left: 1vh;
    padding-right: 1vh;
    color: #FF4852;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media only screen and (max-width: 500px) {
  .card {
    width: 200px;
  }
    .cardb:hover {
  
      background-color: rgba(255, 72, 82, 0.6);
    }
    .card .cardb {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 68%;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      background-color: rgba(255, 72, 82, 0.6);
      transition: opacity 0.3s ease;
    }
    .card:hover .cardb {
      opacity: 1;
    }
    .card .cardb button {
      padding: 10px 20px;
      border: 2px solid white;
      background: none;
      color: white;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s ease, border 0.3s ease;
    }
  
    .card .cardb button:hover {
      background-color: black;
      border: none;
    }


}


.card {
  position: relative;

  overflow: hidden;
  background-color: #fff;
  transition: 0.3s ease;
}

.kep1:hover {
  background-color: rgba(255, 0, 0, 0.1);
}

.card .cardb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 68%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cardb:hover {

  background-color: rgba(255, 72, 82, 0.6);
}

.card .cardb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 68%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;

  transition: opacity 0.3s ease;
}

.card:hover .cardb {
  opacity: 1;
}

.card .cardb button {
  padding: 10px 20px;
  border: 2px solid white;
  background: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, border 0.3s ease;
}

.card .cardb button:hover {
  background-color: black;
  border: none;
}

.ikonok {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.szivikon,
.szemikon {
  width: 30px;
  height: 30px;
  background-color: rgba(172, 172, 172, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.szivikon img,
.szemikon img {
  width: 50%;
  height: 50%;
  object-fit: contain;
}


.szivikon:hover,
.szemikon:hover {
  background-color: #FF4852;
}