body{
  min-height: 100%;
  min-width: 100%;
  margin: 0;
}
header{
  width: 100%;
}
menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: white;
    height: 7.82vh;
    margin-bottom: 0px;
    padding-left: 0;
  }
  .menuitem {
    margin-left: 1vw;
    margin-right: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.2vw;
    color: black;
    text-decoration: none;
  }
  .elso{
    margin-left: auto;
  }
  .flex-containeri {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
  }
  h1{
    margin-left: 10%;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.5vw;
  }
  .utso{
    margin-right: 10%;
  }
  .melyikoldal{
    margin-top: 0px;
    margin-left: -8px;
    background-color: #FF4852;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 7.82vh;
    width: 100%;
  }
  #hol{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
    font-size: 1.2vw;
    padding: 8px;
}
.card {
  transition: 0.3s;
  width: 30%;
  background-color: rgb(247, 244, 244);
  margin-top: 30px;
  }
  
  .flex{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  }
  .ruha {
  padding: 2px 16px;
  background-color: rgb(247, 244, 244);
  }
  
  #kep1{
  height: 200px;
  width: 30%;
  }
  
  .ar{
  margin-top: -10%;
  color: #FF4852;
  padding-right: 45px;
  }
  
  .ar2{
  margin-top: -10%;
  color: #FF4852;
  padding-left: 60px;
  }
  
  s{
  margin-top: -10%;
  color: gray;
  padding-right: 45px;
  }

  .alcim{
    border-bottom: 1px solid gray;
    font-size: 20px;
    color: rgb(75, 75, 75);
  }
 
.alcim::after{
    content: '';
    border-bottom: 4px solid #FF4852;
    display: block;
    margin-bottom: -1px;
    max-width: 7%;
    padding-top: 0.5%;
}

.bal {
  width: 100%;
  margin-right: 2%;
}

.container {
  display: flex;
  margin-left:10%;
  margin-top: 17px;
  margin-bottom: 20px;
}

.jobboldal{
  float: right;
  width: 22%;
  margin-right: 12%;
  margin-left: 0px;
  margin-top: 20px;
}
.arak{
  margin-top: 0px;
  color:  gray;
}

.pontok{
  border-top: 1px dashed rgb(145, 144, 144);
  color: white;
  
}

.res{
  color: gray;
}

#sort{
  float: right;
  width: 25%;
  height: 3.5%;
  color: gray;
}
ul{
  padding: 15px;
}
.filterarak{
  float: right;
  margin-right: 5px;
  margin-top: 8px;
}
.button{
  height: 30px;
  width: 80px;
  font-size: 18px;
  
  color: #464646;
}
.slider{
  height: 5px;
  border-radius: 5px;
  background: #808080;
  position: relative;
}
.slider .progress{
  height: 5px;
  
  
  width: 100%;
  border-radius: 5px;
  position: absolute;
  background: #FF4852;
}
.range-input{
  position: relative;
}
.range-input input{
  position: absolute;
  top: -5px;
  margin-left: -2px;
  height: 10px;
  width: 102%;
  background: none;
  -webkit-appearance: none;
  pointer-events: none;
  
}
input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  
  pointer-events: auto;
  background: #FF4852;
}
input[type="range"]::-moz-range-thumb{
  height: 17px;
  width: 17px;
  border-radius: 50%;
  
  pointer-events: auto;
  background: #FF4852;
}
footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background-color: #1a1a2e;
  color: #d3d3d3;
  margin: auto;
  margin-bottom: -8px;
  margin-left: -8px;
  width: 100%;
}


.footer-section {
  width: 30%;
  margin: auto;
  margin-top: 0.2vw;
}

.footer-section h3 {
  color: white;
}
.footer-section h2 {
  color: white;
}

.footer-section p,
.footer-section small {
  margin: 5px 0;
}

.footer-section p i {
  margin-right: 8px;
  font-size: 1vw;
}
.footerelso{
  margin-left: 9%;
  margin-right: auto;
}
.shipszoveg{
  text-indent: 4%;
}
.felnyil{
  color: #d3d3d3 ;
  float: right;
  margin-right: 10%;
  font-size: 2vw;
  border: #d3d3d3 1px solid;
}
.card:hover{
  background: rgb(228,12,12);
  background: linear-gradient(90deg, rgba(228,12,12,0.5438550420168067) 100%, rgba(2,0,36,1) 100%);
}

